# SEMANA 05 - Lunes 29 / 04 / 2024
# Mg. Flor Elizabeth Cerdán León

Temas
1. Colecciones de datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Funciones
4. Clases y objetos

2. Bucles y condiciones

In [ ]:
# 2.1 Estructuras Decisivas (if, elif, else)

      USANDO LA CONDICIONAL if

In [1]:
# EJERCICIO_01:
# Dado el precio de 3 productos ingresados por el teclado, aplicar un descuento del 10% si la
# venta es mayor o igual a 1000.

In [2]:
# Solución

# Ingresamos el precio del 1er producto
P1 = float(input("Ingrese el precio del 1er producto: "))

# Ingresamos el precio del 2er producto
P2 = float(input("Ingrese el precio del 2do producto: "))

# Ingresamos el precio del 3er producto
P3 = float(input("Ingrese el precio del 3er producto: "))
suma = P1 + P2 + P3

# Indicamos la condicional
if suma>=1000:

    suma *= 0.9
#Indicamos la suma total a pagar
print("\nLa suma total a pagar es: " , suma)

Ingrese el precio del 1er producto: 450
Ingrese el precio del 2do producto: 350
Ingrese el precio del 3er producto: 205

La suma total a pagar es:  904.5

    USANDO LA CONDICIONAL if - else

In [5]:
# Problema 01 (Recordando)
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, PAYE, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [9]:
# Solución:
apellidos = ["FIGUEROA", "BERNAOLA", "CABALLERO", "CALDERON", "CARRASCO", "CENTENO", "CHALQUE", "CHAVEZ",
       "CONDORI", "CRUZ", "PAYE","PALACIOS", "PALOMINO", "QUISPE", "RAMOS", "RODAS", "SILVERA",
       "TALAVERA", "TINEO", "VICTORIO", "VILCA", "ZEA"]

dato = input("Ingrese el apellido para verificar si se encuentra en la lista: ")

# Como los datos de la lista están en mayúscula, utilizo upper()
if dato.upper() in apellidos:
    print("Si está en la lista de la Universidad")
else:
    print(f"El apellido {dato} No está en la lista creada")

Ingrese el apellido para verificar si se encuentra en la lista: PAYE
Si está en la lista de la Universidad

In [ ]:
# EJERCICIO_02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado)
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [24]:
# Indicamos el ingreso por teclado
categorias = float(input("Ventas realizadas: "))

if categorias < 0:
  print("El dato ingresado es ERRONEO")
else:
  if categorias<=1000:
    print("El trabajador pertenece a la CATEGORIA A")
  else:
      if categorias<=2000:
        print("El trabajador pertenece a la CATEGORIA B")
      else:
        if categorias<=5000:
           print("El trabajador pertenece a la CATEGORIA C")
        else:
           print("El trabajador pertenece a la CATEGORIA D")

Ventas realizadas: 45
El trabajador pertenece a la CATEGORIA A

USANDO LA CONDICIONAL elif

In [25]:
# EJERCICIO_03

# Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [26]:
# Solución

categorias = float(input("Importe de ventas realizadas: "))
if categorias < 0:
    print("Datos erroneos")
elif categorias<=1000:
    print("Categoria A")
elif categorias <=2000:
    print("Categoria B")
elif categorias <= 5000:
    print("Categoria C")
else:
    print("Categoria D")

Importe de ventas realizadas: 5000
Categoria C

    ESTRUCTURAS REPETITIVAS for

In [ ]:
# for

In [27]:
# Problema 01:
# Mostrar los elementos de una lista utilizando for

In [28]:
# Creamos una lista
colores = ["azul","celeste","plomo"]

# Imprimos la lista meidante el comando 'for'

print("La lista creada es: ")

for color in colores:     # Siempre en las condicionales debemos dejar la sangría
  print(color)            # Imprimimos

La lista creada es:
azul
celeste
plomo

In [29]:
# Problema 02:
# Dado una cadena ingresado por teclado, mostrar cada caracter de la cadena, utilizando la estructura for

In [30]:
# Solución
cadena = input("Ingrese la cadena a mostrar:")


for caracter in cadena:      # Siempre en las condicionales debemos dejar la sangría
  print(caracter)            # Imprimimos

Ingrese la cadena a mostrar:Jesus Paye
J
e
s
u
s

P
a
y
e

    COMANDO 'range'

In [31]:
# Para generar rangos de números utilizamos range()
range(5)
# [0, 5>

range(0, 5)

In [33]:
# Problema 01

# Imprimir los números de 0 a 10, utilizando for

for imprimir in range(11): # Siempre nos va a restar -1 por eso colocamos el 11
    print(imprimir)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
# Problema 03
# Imprimir los números de 15 a 36, utilizando for
for numero in range(15,37):
    print (numero)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

In [53]:
# Problema 02
# Imprimir los números de 9 a 27, utilizando for

print("Los números a mostrar son:")
for numero in range(9,28,3):
    print (numero)

Los números a mostrar son:
9
12
15
18
21
24
27

In [ ]:
# Tambien funcionan los bucles anidados:

In [ ]:
# Problema 03
# Dado una lista de números, utilizando el algoritmo de burbuja ordenarlos de menor a mayor
# Tiempo asignado: 12 minutos

# Codigo en java
# package ordenamiento;
# public class burbuja {
#    public static void main(String[] args) {
#        int temp;
#        int lista[]={12,5,1,4,10,0};
#        for(int i=0;i<lista.length-1;i++){
#            for(int j=i+1; j<lista.length; j++){
#                if(lista[i]>lista[j]){
#                    temp = lista[i];
#                    lista[i] = lista[j];
#                    lista[j] = temp;
#                }
#            }
#        }
#        System.out.println("Lista ordenada");
#        for(int a=0; a<lista.length; a++){
#                    System.out.print(lista[a] + " ");
#        }
#    }
# }

In [54]:
# Solución
print("Lista inicial: ")
lista = [27,35,82,74,390,-40,-500,-320,0,48,91]
print(lista)
i=0
for i in range(0,len(lista)-1):
    for j in range(i+1,len(lista)):
        if lista[i]>lista[j]:
            temp = lista[i]
            lista[i] = lista[j]
            lista[j] = temp
print("Lista ordena:")
print(lista)

Lista inicial:
[27, 35, 82, 74, 390, -40, -500, -320, 0, 48, 91]
Lista ordena:
[-500, -320, -40, 0, 27, 35, 48, 74, 82, 91, 390]

    USANDO EL COMANDO 'while'

In [ ]:
# while
# Permite ejecutar un conjunto de acciones mientras se cumpla una condición

In [55]:
# Ejemplo:
      # Mostrar los números del 32 al 53

# Indicamos el número inicial
numero = 32
fin = 53

# Imprimimos un mensaje
print("Los números mostrados son: ")

# Hacemos un --> while <---
while numero <= fin:
    print(numero)
    numero+=1

Los números mostrados son:
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53